.search-bar-container {
    margin-top: 10px;
    width: 90%;
    margin: auto;
  }

  .search-bar-container input {
    width: 100%;
    height: 35px;
    background-color: #f9f4f4;
    border: none;
    border-radius: 16px;
    padding: 15px;
    font-size: 0.9rem;
    font-style: italic;
  }