.content-container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

.manhwaList-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}

.manhwa-card-container {
  height: 400px;
  width: 260px;
  display: flex;
  align-items: flex-end;
}

.manhwa-card {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  align-items: center;
  /* transition: height width box-shadow border-radius 350ms ease-in-out; */
}

.manhwa-card:hover {
  height: 100%;
  width: 100%;
  box-shadow: 3px 0px 5px 0px #777;
  border-radius: 15px 5px;
  /* transition: height width box-shadow border-radius 350ms ease-in-out; */
}

.link-to-detail {
  /* border: 1px lightblue solid; */
  width: 200px;
  height: 290px;
}

.manhwaImg {
  /* border: 1px blue solid; */
  height: 100%;
  width: 100%;
  border-radius: 15px 5px;
}

.manhwaInfos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.ajoutPanier-icon {
  width: 25px;
  aspect-ratio: 1/1;
  right: 25px;
  bottom: 20px;
  background-color: #ee817e;
  border-radius: 15px 3px;
  cursor: pointer;
}

.priceContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.manhwa-title,
.manhwa-author,
.manhwa-price {
  color: #777;
}

.manhwa-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
}
.manhwa-author {
  font-size: 1rem;
}

.manhwa-price {
  font-size: 1.1rem;
  font-weight: 500;
}
