.content-container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 45px;
}

.manhwaTitle-in-manhwaDetail {
  font-size: 2rem;
}

.author {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #323131;
}

.cardInfos-title {
  color: #323131;
  margin-top: 5px;
}

.price {
  font-size: 1.3rem;
  color: #323131;
}

.manhwa-img-in-manhwaDetail {
  width: 30%;
  border-radius: 15px;
}

summary {
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #ff7a7a;
}

details {
  width: 60%;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  font-style: italic;
}
