.cardInfos-author {
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .cardInfos-title {
    color: #323131;
    margin-top: 5px;
  }
  
  .cardInfos-price {
    font-size: 1.2rem;
    color: #323131;
  }
  
  .manhwa-img-in-manhwaDetail {
    width: 30%;
  }
  
  .ajoutPanier-btn {
    width: 25%;
    cursor: pointer;
  }
  
  details {
    width: 60%;
  }