 /* page account */
 .account-container {
    text-align: center;
    width: 90%;
    margin: auto;
    /* margin-top: 30px; */
  }

  

  .account-payment-line {
    /* width: 80%; */
    display: flex;
    gap: 20px;
    margin: auto;
  }

  .account-payment-detail {
    color: #777;
    margin: auto;
    padding: 10px;
  }

  h3 {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .title,
  h3 {
    color: #111;
    text-align: center;
  }

  .account-subtitle-detail {
    color: #777;
  }