/* for reset some default css */
/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}



/* @media (min-width: 390px) {

} */









